.heading {
  margin: 0;
  overflow-wrap: break-word;
}

.display,
.h1 {
  font-family: var(--sk-type-h1-family);
  font-size: var(--sk-type-h1-size);
  font-weight: var(--sk-type-h1-weight);
  line-height: var(--sk-type-h1-line-height);
  letter-spacing: var(--sk-type-h1-letter-spacing);
}

.h2 {
  font-family: var(--sk-type-h2-family);
  font-size: var(--sk-type-h2-size);
  font-weight: var(--sk-type-h2-weight);
  line-height: var(--sk-type-h2-line-height);
  letter-spacing: var(--sk-type-h2-letter-spacing);
}

.h3 {
  font-family: var(--sk-type-h3-family);
  font-size: var(--sk-type-h3-size);
  font-weight: var(--sk-type-h3-weight);
  line-height: var(--sk-type-h3-line-height);
  letter-spacing: var(--sk-type-h3-letter-spacing);
}

.measure {
  max-width: var(--sk-layout-measure-reading);
}
